 <!-- Header -->
    <header style="background:url('http://wallpapercave.com/wp/CvNDcxM.jpg')">
        <div class="container" >
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To</div>
                <div id="test" class="intro-heading" style="color:#fed136;">Mongo News Scraper - New York Times Edition</div>
   
            </div>
        </div>
    </header>
<div class="row" style="background:url('http://wallpapercave.com/wp/EXB9jdd.jpg');">
    <br><br>

<!-- This is where React will deploy the contents it generates -->
  <div id="app" ></div>
</div>
  <!-- All of our JS code will be transpiled into this bundle.js file -->
  <script src="bundle.js"></script>



                
    <!-- Services Section -->
